<!--
<app-categorias-cadastro></app-categorias-cadastro>
<app-categorias-pesquisa></app-categorias-pesquisa>
-->


<router-outlet></router-outlet>

<div class="ui-g-12">
  <button pButton type="button" label="Visualizar Categorias" class="ui-button-info" class=" boxButton" routerLink="/categorias"></button>
  <button pButton type="button" label="Cadastrar Categorias" class="ui-button-info" class=" boxButton" routerLink="/categorias/novo"></button>

</div>



  <div class="ui-g-12">
    <button pButton type="button" label="Visualizar Estados" class="ui-button-info" class=" boxButton" routerLink="/estados"></button>
    <button pButton type="button" label="Cadastrar Estados" class="ui-button-info" class=" boxButton" routerLink="/estados/novo"></button>

  </div>
